body {
     background: url(../img/bg.jpg);
     background-size: cover;
}
 #wrapper {
     width: 590px;
     margin: 25px auto 0;
     margin-bottom: 10px;
}
 #warap-bg {
     border-radius: 3px;
     padding-bottom: 27px;
     background: rgba(0, 0, 0, 0.93);
}
 .top-name-img {
     display: flex;
     justify-content: space-between;
}
 .top-name-img h3 {
     color: #f72020;
     background: #fff;
     font-family: 'Rubik Mono One', sans-serif;
     font-size: 23px;
     padding: 22px 35px;
}
 .img{
     height: 92px;
     width: 92px;
     overflow: hidden;
     border-radius: 100px;
     margin-top: 17px;
     margin: 17px 24px 0;
}
 .img:hover {
     overflow: visible;
     z-index: 1;
}
 .img:active {
     overflow: visible;
     z-index: 1;
}
 .img img {
     width: 93px;
     transition: all .4s;
     cursor: pointer;
}
 .img img:hover {
     width: 248px;
     margin: 6px 0 0 -164px;
}
 .img img:active {
     width: 248px;
     margin: 6px 0 0 -164px;
}
 .img:before {
     content: '';
     width: 32px;
     height: 32px;
     position: absolute;
     background: url(../img/fs.png);
     margin: 32px;
}
 .img:hover:before{
     display: none;
}
 h3{
     position: relative;
     margin-left: -13px;
}
 h3:before, h3:after {
     content: '';
     position: absolute;
     border-style: solid;
     border-color: transparent;
     bottom: -10px;
}
 h3:before {
     border-width: 0 13px 10px 0;
     border-right-color: #c5c5c5;
     left: 0;
}
 ul li{
     list-style: none;
}
 ul {
     display: flex;
     flex-direction: column;
}
 ul li {
     display: flex;
     flex-direction: row;
     font: 13px 'Open Sans', sans-serif;
     color: #fff;
     margin: 14px 0 0;
}
 ul li span{
     list-style: none;
     font: 700 15px 'PT Sans', sans-serif;
     color: #e7d2a3;
     min-width: 173px;
     text-align: right;
     margin-right: 14px;
}
 #contakt {
     display: flex;
     justify-content: center;
     margin-top: 35px;
}
 #contakt a {
     font: 13px 'Open Sans', sans-serif;
     color: #fff;
}
 #contakt span img{
     position: relative;
     top: 3px;
     margin: 0 20px;
}
 .live{
     opacity: 0;
     position: absolute;
     top: 0;
     left: -9999px;
 } 